//-----------------------------------------------------------------------------
//
// 倍精度浮動小数点数を64ビットのバイナリ列に変換。emit.mlで使用
//
//-----------------------------------------------------------------------------

#include <stdio.h>
#include <caml/mlvalues.h>
#include <caml/alloc.h>

typedef union
{
  int32 i[2];
  double d;
} flt;

//-----------------------------------------------------------------------------
// 上位32ビット
//-----------------------------------------------------------------------------
value gethi(value v)
{
  flt d;
  d.d = (double)Double_val(v);
  return copy_int32(d.i[0]);
}

//-----------------------------------------------------------------------------
// 下位32ビット
//-----------------------------------------------------------------------------
value getlo(value v)
{
  flt d;
  d.d = Double_val(v);
  return copy_int32(d.i[1]);
}
